.buttonsContainer {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    align-items: center;
    gap: 8px;
}

button:hover {
    background-color: rgb(216, 211, 211);
    font-size: 50px;
}

.equalsButton {
    background-color: black;
    color: white;
    font-size: 50px;
}

.operatorsButton:hover {
    background-color: white;
    color: black;
    font-size: 50px;

}

.operatorsButton {
    background-color: rgb(96, 93, 93);
    color: white;

}

.equalsButton:hover {
    background-color: white;
    color: black;
    font-size: 60px;
}

button {
    width: 100px;
    height: 100px;
    color: black;
    font-size: 35px;
    font-family: 'sans-serif';
    background-color: whitesmoke;
    border: 15%;
    border-color: black;
    cursor: pointer;
}

.inputTextBox {
    width: 418px;
    height: 80px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    border-color: black;
    border-radius: 20;
}

.resultTextBox {
    align-items: center;
    width: 418px;
    height: 100px;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    border-color: white;
    border-style: inset;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 20px;

}

.Error {
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}